body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1{
  margin: 50px;
  font-size: medium;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(204, 60%, 68%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.55 ease;


}

.color-display p{
  color: hsl(204, 60%, 68%);
  font-size: 2rem;
  text-align: center;

}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="range"]{
  width: 75px;
  margin-bottom: 25px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(204, 60%, 68%);

}